AccessManagement/SolutionPackage/src/CanvasApps/src/cat_accessprofilediagnostics_33039/pkgs/Wadl/Access-Profile-Diagnostics.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Access-Profile-Diagnostics" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Access-Profile-Diagnostics" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_environmentExist_def" />
      <string name="ResponseActionOutput_securityRoleExist_def" />
      <string name="ResponseActionOutput_accessProfileApproversExist_def" />
      <string name="ResponseActionOutput_approvalUsersExist_def" />
      <string name="ResponseActionOutput_approvalUsers_def_items_def_systemuserid_def" />
      <string name="ResponseActionOutput_approvalUsers_def_items_def_fullname_def" />
      <string name="ResponseActionOutput_approvalUsers_def_items_def_upn_def" />
      <string name="ResponseActionOutput_approvalUsers_def_items_def_type_def" />
      <string name="ResponseActionOutput_approvalUsers_def_items_def_disabled_def" />
      <object name="ResponseActionOutput_approvalUsers_def_items_def">
        <property name="systemuserid" type="string" />
        <property name="fullname" type="string" />
        <property name="upn" type="string" />
        <property name="type" type="string" />
        <property name="disabled" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_approvalUsers_def_items_def" name="ResponseActionOutput_approvalUsers_def" />
      <object name="ResponseActionOutput">
        <property name="environmentExist" type="string" />
        <property name="securityRoleExist" type="string" />
        <property name="accessProfileApproversExist" type="string" />
        <property name="approvalUsersExist" type="string" />
        <property name="approvalUsers" typeRef="ResponseActionOutput_approvalUsers_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="accessProfileId" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>