AccessManagement/SolutionPackage/src/CanvasApps/src/cat_accessprofilesharedwith_b0c5d/pkgs/Wadl/Retrieve-Shared-Access.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Retrieve-Shared-Access" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Retrieve-Shared-Access" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_accessProfileId_Inputs_def" />
      <object name="ManualTriggerInput">
        <property name="accessProfileId_Inputs" type="string" />
      </object>
      <string name="ResponseActionOutput_users_def_items_def_firstname_def" />
      <string name="ResponseActionOutput_users_def_items_def_fullname_def" />
      <string name="ResponseActionOutput_users_def_items_def_internalemailaddress_def" />
      <string name="ResponseActionOutput_users_def_items_def_isdisabled_ux40_OData_Community_Display_V1_FormattedValue_def" />
      <boolean name="ResponseActionOutput_users_def_items_def_isdisabled_def" />
      <string name="ResponseActionOutput_users_def_items_def_lastname_def" />
      <string name="ResponseActionOutput_users_def_items_def_systemuserid_ux40_odata_type_def" />
      <string name="ResponseActionOutput_users_def_items_def_systemuserid_def" />
      <string name="ResponseActionOutput_users_def_items_def_ownerid_ux40_odata_type_def" />
      <string name="ResponseActionOutput_users_def_items_def_ownerid_def" />
      <string name="ResponseActionOutput_users_def_items_def__ux40_odata_type_def" />
      <string name="ResponseActionOutput_users_def_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_users_def_items_def__ux40_odata_etag_def" />
      <string name="ResponseActionOutput_users_def_items_def__ux40_odata_editLink_def" />
      <object name="ResponseActionOutput_users_def_items_def">
        <property name="firstname" type="string" />
        <property name="fullname" type="string" />
        <property name="internalemailaddress" type="string" />
        <property name="isdisabled@OData.Community.Display.V1.FormattedValue" type="string" />
        <property name="isdisabled" type="boolean" />
        <property name="lastname" type="string" />
        <property name="systemuserid@odata.type" type="string" />
        <property name="systemuserid" type="string" />
        <property name="ownerid@odata.type" type="string" />
        <property name="ownerid" type="string" />
        <property name="@odata.type" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
        <property name="@odata.editLink" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_users_def_items_def" name="ResponseActionOutput_users_def" />
      <string name="ResponseActionOutput_teams_def_items_def_name_def" />
      <string name="ResponseActionOutput_teams_def_items_def_teamid_ux40_odata_type_def" />
      <string name="ResponseActionOutput_teams_def_items_def_teamid_def" />
      <string name="ResponseActionOutput_teams_def_items_def_teamtype_ux40_OData_Community_Display_V1_FormattedValue_def" />
      <integer name="ResponseActionOutput_teams_def_items_def_teamtype_def" />
      <string name="ResponseActionOutput_teams_def_items_def_ownerid_ux40_odata_type_def" />
      <string name="ResponseActionOutput_teams_def_items_def_ownerid_def" />
      <string name="ResponseActionOutput_teams_def_items_def__ux40_odata_type_def" />
      <string name="ResponseActionOutput_teams_def_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_teams_def_items_def__ux40_odata_etag_def" />
      <string name="ResponseActionOutput_teams_def_items_def__ux40_odata_editLink_def" />
      <object name="ResponseActionOutput_teams_def_items_def">
        <property name="name" type="string" />
        <property name="teamid@odata.type" type="string" />
        <property name="teamid" type="string" />
        <property name="teamtype@OData.Community.Display.V1.FormattedValue" type="string" />
        <property name="teamtype" type="integer" />
        <property name="ownerid@odata.type" type="string" />
        <property name="ownerid" type="string" />
        <property name="@odata.type" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
        <property name="@odata.editLink" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_teams_def_items_def" name="ResponseActionOutput_teams_def" />
      <object name="ResponseActionOutput">
        <property name="users" typeRef="ResponseActionOutput_users_def" />
        <property name="teams" typeRef="ResponseActionOutput_teams_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="accessProfileId_Inputs" path="/accessProfileId_Inputs" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>